<%= form_for([@room, @room.reservations.new]) do |f| %>
	<div class="row">
		<div class="col-md-6">
			<label>Check In</label>
			<%= f.text_field :start_date, readonly: 'true', placeholder: 'Start Date', class: 'form-control' %>
		</div>
		<div class="col-md-6">
		<label>Check Out</label>
			<%= f.text_field :end_date, readonly: 'true', placeholder: 'End Date', class: 'form-control' %>
		</div>		
	</div>

	<%= f.hidden_field :room_id, value: @room.id %>
	<%= f.hidden_field :price, value: @room.price %>	
	<%= f.hidden_field :total, id: 'reservation_total' %>

	<div id="preview" style="display: none">
		<h4><span id="message"></span></h4>

		<table class="reservation-table">
			<tbody>
				<tr>
					<td>Day(s)</td>
					<td><span id="reservation_days"></span></td>
				</tr>
				<tr>
					<td>Total</td>
					<td><span id="reservation_sum"></span></td>
				</tr>
			</tbody>
		</table>
	</div>

	<br>
	<%= f.submit "Book Now", class: "btn btn-primary" %>
	
<% end %>

<script>
	$(function() {

		$.ajax({
			url: '/preload',
			data: {'room_id': <%= @room.id %>},
			dataType: 'json',
			success: function(data) {

				$.each(data, function(arrID, arrValue) {
					for(var d = new Date(arrValue.start_date); d <= new Date(arrValue.end_date); d.setDate(d.getDate()+1)) {

					}
				})
			}
		});

		$('#reservation_start_date').datepicker({
			dateFormat: 'dd-mm-yy'
		});
		$('#reservation_end_date').datepicker({
			dateFormat: 'dd-mm-yy'
		});		
	});
</script>